@page
@model Fallout_tec.Pages.craftingpageModel
@{
}


<!--Link Css with page-->
<head>
	<script href="~css/site.css"></script>
	<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
</head>


<!--Frontend-->
<div class="staticbackground">
	<form method="post" asp-page-handler="location" >
		 <input id="station"  name="station" type="hidden" value="" >
		 <input id="station2"  name="location" type="hidden" value="" >
	<div class="craftingbenchcon">

		<div class="Workbench Armour">
			<img class="Workbenchimg" src="~/images/ArmourWorkbench.png" alt="Workbenchimg" /> 
			<h3 class="workbenchname">Armour Workbench</h3>
		</div>
		<div class="Workbench Weapons">
			<img class="Workbenchimg" src="~/images/WeaponsWorkbench.png" alt="Workbenchimg"/> 
			<h3 class="workbenchname">Weapons Workbench</h3>
		</div>
		<div class="Workbench Tinker" >
			<img class="Workbenchimg" src="~/images/TinkerWorkbench.png" alt="Workbenchimg"/>
			<h3 class="workbenchname">Tinker Workbench</h3>
		</div>
		<div class="Workbench Chemistry">
			<img class="Workbenchimg" src="~/images/ChemestryStation.png" alt="Workbenchimg"/>
			<h3 class="workbenchname">Chemestry Station</h3>
		</div>
		<div class="Workbench Cooking">
			<img class="Workbenchimg" src="~/images/CookingStation.png" alt="Workbenchimg"/> 
			<h3 class="workbenchname">Cooking Station</h3>
		</div>
	    <div class="Workbench Brewing">
			<img class="Workbenchimg" src="~/images/BrewingStation.png" alt="Workbenchimg"/> 
			<h3 class="workbenchname">Brewing Station</h3>
		</div>
	</div>


<div class="locationTabCrafting ">


		<div  class="backpacktabCrafting locationtabbtn"  >
		 <input id=radio1 name=location type=radio value=1><label for=radio1>Backpack</label>
			<img class="locationimg" src="~/images/backpack.webp" alt="location"/> 		
		</div>


		<div   class="basetabCrafting " >
		 <input id=radio2 name=location type=radio value=2><label for=radio2>Base</label>
			<img class="locationimg" src="~/images/base.webp" alt="location"/>  
			
		</div>

		<div  class="SurvivaltenttabCrafting " >
		 <input id=radio3 name=location type=radio value=3><label for=radio3>Survival Tent</label>
			<img class="locationimg" src="~/images/survivaltent.webp" alt="location"/>  
		
		</div>
		</div>
   </form>

   <div class="Craftingcon">
		<h2 class="workbenchitemtypes">CraftType</h2>
					@foreach(var recipe in Model.allRecipes){
		<div class="craftitemcon">

			<div class="craftitem">
				<!--todo: add image and name h2 tag-->
				 <img src="~/dbimages/@recipe.CraftImage" class="card-img-top craftimage" alt="craftimage" style="margin-top:10px;">
				 <h3 class="craftitemname">@recipe.CraftName</h3>
			</div>


				@for(var i = 0; i < recipe.IngredientsName.Count(); i++)
				{
					if( recipe.IngredientsName[i] != "")
					{
						if(i == 0)
						{
							<div class="equalsign">=</div>
						}else{
							<div class="plussign">+</div>
						}

			<div class="craftitemmaterial">
				<img src="~/dbimages/@recipe.IngredientsImage[i]" class="card-img-top craftimage" alt="craftimage" style="margin-top:2px; margin-left:25px;">

				<h3 class="craftitemname">@recipe.IngredientsName[i]</h3>					

				<h3 class="craftitemname">(@recipe.IngredientsCount[i])</h3>	

					
				

			</div>

			     }
																			
					}
						@{
								if(recipe.IsCraftable()){
									<form
									method="post"
									asp-page-handler="craft"
									asp-route-name="@recipe.CraftName"
									asp-route-count="@recipe.Count"
									asp-route-location="@recipe.LocationId"
									>
									
										@{

											@for(var j = 0; j < recipe.IngredientsName.Count(); j++){
												if(recipe.IngredientsName[j] != "")
												{
													<input type="hidden" name="ingredientsName[]" value="@recipe.IngredientsName[j]"/>
												}
											}
										   @for(var k = 0; k < recipe.IngredientsCount.Count(); k++){

											if(recipe.IngredientsCount[k] != 0)
												{
													<input type="hidden" name="ingredientsCount[]" value="@recipe.IngredientsCount[k]"/>
												}
									
											}
		
									}
									<input type="text" class="craftverify" name="verify" placeholder="cheatcode" />
									<input class="craftbutton" type="submit" value="Craft"/>
									</form>	
								}

		                }
		</div>
		}
	</div>


</div>

@{
		if(Model.Message != "")
		{
			if (Model.MessageSuccess)
			{
				<div class="craftsuccessfail">
				<img class="craftedimg" src="~/images/craftingsuccess.jpg" alt="craftsuccess"/> 
				<h1 class="craftmessage">@Model.Message</h1>
				</div>



			}
			else
			{

				<div class="craftsuccessfail">
				<img class="craftedimg" src="~/images/craftingfail.jpg" alt="craftfail"/> 
				<h1 class="craftmessage">@Model.Message</h1>
				</div>

				
			

			}
			
		}

	}


<style>
	.container-fluid {
    margin: 0px;
    padding:0px;
    margin-bottom:-20px;
    width: 100%;
    height:952px;
}


#radio1 {
    display: none;
    /*visibility: hidden;*/
}

#radio2 {
    display: none;
    /*visibility: hidden;*/
}

#radio3 {
    display: none;
    /*visibility: hidden;*/
}


.navcrafting{
	color:#FFEB33;
}
</style>




<script>
$(document).ready(function() {




    $(".Weapons").css("opacity", "30%");
	$(".Tinker").css("opacity", "30%");
	$(".Chemistry").css("opacity", "30%");
	$(".Cooking").css("opacity", "30%");
	$(".Brewing").css("opacity", "30%");
	$(".Armour").css("opacity", "100%");


	//onclick for location buttons/ for styling
$(".Workbench").click(function () {
    $(".Workbench").css("opacity", "30%");
    $(this).css("opacity", "100%");

});
});


</script>


<script>

$(document).ready(function() {


$(".Weapons").click(function () {
	localStorage.setItem("station", "WeaponsWorkbench");
	document.getElementById('station').setAttribute('value', "WeaponsWorkbench");
	document.getElementById('station2').setAttribute('value', activeclass);
	document.forms[0].submit()
});

$(".Tinker").click(function () {
	localStorage.setItem("station", "TinkerWorkbench"); 
	document.getElementById('station').setAttribute('value', "TinkerWorkbench");
	document.getElementById('station2').setAttribute('value', activeclass);
	document.forms[0].submit()
});

$(".Chemistry").click(function () {
	localStorage.setItem("station", "ChemistryStation");
	document.getElementById('station').setAttribute('value', "ChemistryStation");
	document.getElementById('station2').setAttribute('value', activeclass);
	document.forms[0].submit()
});

$(".Cooking").click(function () {
	localStorage.setItem("station", "CookingStation"); 
	document.getElementById('station').setAttribute('value', "CookingStation");
    document.getElementById('station2').setAttribute('value', activeclass);
	document.forms[0].submit()
});

$(".Brewing").click(function () {
	localStorage.setItem("station", "BrewingStation"); 
	document.getElementById('station').setAttribute('value', "BrewingStation");
    document.getElementById('station2').setAttribute('value', activeclass);
	document.forms[0].submit()
});

$(".Armour").click(function () {
	localStorage.setItem("station", "ArmourWorkbench"); 
	document.getElementById('station').setAttribute('value',"ArmourWorkbench");
	document.getElementById('station2').setAttribute('value', activeclass);
	document.forms[0].submit()
});

	let getstation = localStorage.getItem("station");
	console.log(getstation)




	if(getstation == "ArmourWorkbench"){
    $(".Weapons").css("opacity", "30%");
	$(".Tinker").css("opacity", "30%");
	$(".Chemistry").css("opacity", "30%");
	$(".Cooking").css("opacity", "30%");
	$(".Brewing").css("opacity", "30%");
	$(".Armour").css("opacity", "100%");



	}else if(getstation == "WeaponsWorkbench"){
    $(".Weapons").css("opacity", "100%");
	$(".Tinker").css("opacity", "30%");
	$(".Chemistry").css("opacity", "30%");
	$(".Cooking").css("opacity", "30%");
	$(".Brewing").css("opacity", "30%");
	$(".Armour").css("opacity", "30%");



	}else if(getstation == "TinkerWorkbench"){
    $(".Weapons").css("opacity", "30%");
	$(".Tinker").css("opacity", "100%");
	$(".Chemistry").css("opacity", "30%");
	$(".Cooking").css("opacity", "30%");
	$(".Brewing").css("opacity", "30%");
	$(".Armour").css("opacity", "30%");


	}else if(getstation == "ChemistryStation"){
	$(".Weapons").css("opacity", "30%");
	$(".Tinker").css("opacity", "30%");
	$(".Chemistry").css("opacity", "100%");
	$(".Cooking").css("opacity", "30%");
	$(".Brewing").css("opacity", "30%");
	$(".Armour").css("opacity", "30%");


	}else if(getstation == "CookingStation"){
    $(".Weapons").css("opacity", "30%");
	$(".Tinker").css("opacity", "30%");
	$(".Chemistry").css("opacity", "30%");
	$(".Cooking").css("opacity", "100%");
	$(".Brewing").css("opacity", "30%");
	$(".Armour").css("opacity", "30%");


	}else if(getstation == "BrewingStation"){
    $(".Weapons").css("opacity", "30%");
	$(".Tinker").css("opacity", "30%");
	$(".Chemistry").css("opacity", "30%");
	$(".Cooking").css("opacity", "30%");
	$(".Brewing").css("opacity", "100%");
	$(".Armour").css("opacity", "30%");



	}



var effectTimer = setTimeout(function() {
    $('.craftsuccessfail').slideUp(1000);
	    $('.craftsuccessfail').animate({"margin-left": '-=250'});
}, 5000);





	//onclick for location buttons/ for styling
$(".backpacktabCrafting").click(function () {
	localStorage.setItem("active", 1); 
	document.getElementById('station2').setAttribute('value', 1);
	document.getElementById('station').setAttribute('value', getstation);
	document.forms[0].submit()

});
	//onclick for location buttons/ for styling
$(".basetabCrafting").click(function () {
	localStorage.setItem("active", 2); 
	document.getElementById('station2').setAttribute('value', 2);
	document.getElementById('station').setAttribute('value', getstation);
	document.forms[0].submit()
});
	//onclick for location buttons/ for styling
$(".SurvivaltenttabCrafting").click(function () {
	localStorage.setItem("active", 3); 
	document.getElementById('station2').setAttribute('value',3);
	document.getElementById('station').setAttribute('value', getstation);
	document.forms[0].submit()
});

	let activeclass = localStorage.getItem("active");
	console.log(activeclass)



	if(activeclass == 1){
		 $(".backpacktabCrafting").addClass("locationtabbtn");
		     $(".basetabCrafting").removeClass("locationtabbtn");
	$(".SurvivaltenttabCrafting").removeClass("locationtabbtn");

	}else if(activeclass == 2){
		 $(".basetabCrafting").addClass("locationtabbtn");
		     $(".backpacktabCrafting").removeClass("locationtabbtn");
	$(".SurvivaltenttabCrafting").removeClass("locationtabbtn");

	}else if(activeclass == 3){
		 $(".SurvivaltenttabCrafting").addClass("locationtabbtn");
		     $(".basetabCrafting").removeClass("locationtabbtn");
	$(".backpacktabCrafting").removeClass("locationtabbtn");
		
	}

});







</script>